/**
 * TODO: 
 *   panels
 *   fading effects
 *   overflow
 */

a:visited,

a:link {
  color            : black;
  font-weight      : bold;
  text-decoration  : none;
}

a:hover {
  color : red;
}

body {
 background    : #FFFFFF;
 margin-top    : 0px;
 margin-bottom : 0px;
}

dt {
  font-weight  : bold;
  margin-top   : 20px;
}

dl {
  margin-left  : 40px;
}

div.assessment-container {
  padding       : 5px;
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  border        : 2px solid black;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 400px;
  height        : 20px;
  float         : left;
  text-align    : center;
}

div.button-container {
  background    : #FFFFFF;
  color         : black;
  border-radius : 1px;
  margin-top    : 10px;
  float         : bottom center;
  width         : 800px;
  text-align    : center;
  margin-left   : -50px;
}

div.code-container {
  margin-top    : 40px;
  margin-bottom : 20px;
}

div.code-header-container {
  background    : #FFFFFF;
  color         : black;
  border-radius : 1px;
  border        : 2px solid black;
  padding       : 10px;
  display       : inline;
  margin-left   : 80px;
  margin-right  : auto;
  top           : 60px;
}

div.image-container {
  margin-top    : -10px;
  margin-left   : auto;
  margin-right  : auto;
  width         : 600px;
}

div.item-container {
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  padding       : 5px;
  margin-top    : 10px;
  margin-left   : 10px;
  margin-right  : 10px;
  margin-bottom : 20px;
}

div.item-header-container {
  background    : black;
  color         : white;
  font-weight   : bold;
  border-radius : 5px;
  padding       : 3px;
  display       : inline;
}

div.left-panel {
  padding       : 5px;
  background    : #FFFFFF;
  color         : gray;
  border-radius : 5px;
/*border        : 1px solid gray;*/
  margin-left   : 10px;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 425px;
  height        : 300px;
  float         : left;
  text-align    : center;
  position      : relative;
}

div.right-panel {
  padding       : 5px;
  background    : #FFFFFF;
  color         : gray;
  border-radius : 5px;
/*border        : 1px solid gray;*/
  margin-left   : 10px;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 425px;
  height        : 500px;
  float         : right;
  text-align    : center;
  position      : relative;
}

div.next-button {
  padding          : 5px;
  background-color : black;
  color            : white;
  border-radius    : 10px;
  border           : 1px solid gray;
  margin-left      : auto;
  margin-right     : auto;
  margin-top       : 20px;
  margin-bottom    : 10px;
  width            : 25px;
  height           : 440px;
  float            : left;
  text-align       : center;
  position         : relative;
  vertical-align   : middle;
  display          : inline-block;
}

div.logout-container {
  padding       : 5px;
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  border        : 2px solid black;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 100px;
  height        : 20px;
  text-align    : center;
}

div.main-container {
  background    : #FFFFFF;
  height        : 496px;
  width         : 800px;
  float         : center;
  margin-left   : auto;
  margin-right  : auto;
  margin-bottom : 25px;
  border        : 2px dotted black;
  padding       : 5px 5px 5px 5px;
  overflow      : hidden;
}

div.name-container {
  padding       : 5px;
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  border        : 2px solid black;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 400px;
  height        : 20px;
  float         : left;
  text-align    : center;
}

div.panels-container {
  background    : #FFFFFF;
  height        : 496px;
  width         : 1200px;
  margin-left   : auto;
  margin-right  : auto;
  margin-bottom : 40px;
  padding       : 5px 5px 5px 5px;
  float         : center;
  display       : inline;
}

div.question-container {
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  padding       : 5px;
  margin-top    : 10px;
  margin-left   : 10px;
  margin-right  : 10px;
  margin-bottom : 20px;
}

div.question-header-container {
  background    : black;
  color         : white;
  font-weight   : bold;
  border-radius : 5px;
  padding       : 3px;
  display       : inline;
}

div.solution-container {
  padding-left  : 20px;
  padding-right : 20px;
  background    : #FFFFFF;
  color         : black;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 600px;
  height        : 100px;
  text-align    : center;
}

div.source-code {
  padding-left  : 20px;
  padding-right : 20px;
  background    : #FFFFFF;
  color         : black;
  border-radius : 5px;
  border        : 2px solid black;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 20px;
  margin-bottom : 10px;
  width         : 600px;
  height        : 320px;
  overflow      : scroll;
}

form.multiple-choice {
  width          : 700px;
  margin-left    : auto;
  margin-right   : auto;
}

label {
  color         : gray;
  margin-left   : auto;
  margin-right  : auto;
}

label.mc-correct {
  color         : green;
  margin-left   : auto;
  margin-right  : auto;
}

img {
  width         : 600px;
  float:        : center; 
  margin-left   : auto;
  margin-right  : auto;
  height        : 400px;
}

input.short-answer {
  width            : 200px;
  float            : bottom right;
  border           : 2px solid black;
  border-radius    : 5px;
  color            : white;
  background-color : black;
  margin-top       : 0px;
}

input.autograde {
  width            : 200px;
  float            : bottom right;
  border           : 2px solid black;
  border-radius    : 5px;
  color            : white;
  background-color : black;
  margin-top       : 0px;
}

li {
  margin-top: 10px;
}

span.keyword  { color : #990000; }
span.literal  { color : #006600; }
span.operator { color : #000099; }
span.name     { color : #999900; }

table {
  margin-left:  auto;
  margin-right: auto;
  width       : 400px;
  padding     : 10px;
}

td {
  padding: 10px;
}

textarea {
  width          : 700px;
  height         : 200px;
}

tt  {
  background-color : #DDDDDD;
}
