
a:visited,

a:link
{
  color            : black;
  font-weight      : bold;
  text-decoration  : none;
}


a:hover
{
  color : red;
}


dt
{
  font-weight  : bold;
  margin-top   : 20px;
}


dl
{
  margin-left  : 40px;
}


div
{
  border-radius : 5px;
  padding       : 5px;
}


div.assessment-container
{
  border        : 2px solid black;
  width         : 400px;
  height        : 20px;
  float         : left;
  text-align    : center;
}


div.button-container
{
  margin-top    : 10px auto auto -50px;
  float         : bottom center;
  width         : 800px;
  text-align    : center;
}


div.item-container
{
  margin-top    : 10px 10px 20px 10px;
}


div.item-header-container
{
  font-weight   : bold;
  display       : inline;
}


div.left-panel
{
  color         : gray;
  width         : 380px;
  height        : 500px;
  float         : center;
  text-align    : center;
/*border        : 1px solid black;*/
  display       : inline;
}


div.login-container
{
  color         : gray;
  margin-top    : 20px auto 10px auto;
  width         : 425px;
  height        : 300px;
  float         : center;
  text-align    : center;
}


div.right-panel
{
  color         : gray;
  width         : 380px;
  height        : 500px;
  float         : center;
  text-align    : center;
/*border        : 1px solid black;*/
  display       : inline;
}


div.next-button
{
  background-color : black;
  color            : white;
  border           : 1px solid gray;
  width            : 25px;
  height           : 440px;
  float            : right;
  text-align       : center;
  vertical-align   : middle;
/*display          : inline-block;*/
}


div.logout-container
{
  border        : 2px solid black;
  margin        : 20px auto 10px auto;
  width         : 100px;
  height        : 20px;
  text-align    : center;
}


div.main-container
{
  height        : 496px;
  width         : 800px;
  float         : center;
  margin        : auto;
  margin-bottom : 19px;
  border        : 2px dotted black;
  overflow      : scroll;
}


div.name-container
{
  border        : 2px solid black;
  margin        : 20px auto 10px auto;
  width         : 400px;
  height        : 20px;
  float         : center;
  text-align    : center;
}


div.question-container
{
  margin-top    : 10px 10px 20px 10px;
}


div.question-header-container
{
  background-color : black;
  color            : white;
  font-weight      : bold;
  display          : inline;
}


div.solution-container
{
  padding       : 0px 20px 0px 20px;
  margin        : 20px auto 10px auto;
  width         : 600px;
  height        : 100px;
  text-align    : center;
}


div.source-code
{
  margin        : 20px auto 10px auto;
  padding       : 0px 20px 0px 20px;
  border        : 2px solid black;
  width         : 600px;
  height        : 320px;
  overflow      : scroll;
}


form.multiple-choice
{
  width          : 700px;
  margin         : auto;
}


label
{
  color         : gray;
/*margin        : auto;*/
}


label.mc-correct
{
  color         : green;
}


img
{
  width         : 600px;
  float:        : center; 
  margin        : auto;
  height        : 400px;
}


input
{
  width            : 100px;
  float            : bottom right;
  border           : 2px solid black;
  color            : white;
  background-color : black;
  margin           : auto;
}


input.radio
{
  width            : 50px;
  margin           : 10px;
}


input.autograde
{
  margin-top       : 0px;
}


input#login-button
{
  margin-top       : 0px;
}


input#password
{
  float            : center;
  margin           : 2px;
}


input#username
{
  background-color : white;
  color            : black;
  float            : center;
  margin           : 2px;
}


li
{
  margin-top: 10px;
}


span.keyword 
{ color : #990000; }

span.literal 
{ color : #006600; }

span.operator
{ color : #000099; }

span.name    
{ color : #999900; }


table
{
  margin-left:  auto;
  margin-right: auto;
  width       : 700px;
  padding     : 1px;
  font-size   : 8pt;
}


table#login-table
{
  width       : 300px;
  font-size   : 12pt;
}


td
{
  padding: 5px;
}


textarea
{
  width          : 700px;
  height         : 200px;
}


tt
{
  background-color : #DDDDDD;
}

